<div class="grid-container">
  <h1 class="mat-h1">About me</h1>
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Kelly Silva</mat-card-title>
      <mat-card-subtitle>Frontend Developer at Almundo Brazil</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p>
        Frontend Developer with 6+ years of experience producing, modifying and maintaining websites and user interfaces for web
        and mobile hybrid applications. Outgoing and detail-oriented, proficient at building and maintaining professional
        relationships.
      </p>
      <p>
        I am passionate for my work!</p>
      <p>
        Being passionate about my work makes me able to overcome any challenge, be it technical or lack of experience. My highest
        quality is to be able to solve the strangest problems in the best possible way and always with the help of the team.
        I love and I do not live without teamwork, my greatest achievements were achieved because I had the support of great
        professionals from the teams I worked with.
      </p>
      <p>
        Also I am passionate for beers, rock and pets <mat-icon color="warn">favorite</mat-icon>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://www.linkedin.com/in/kregina/" target="_blank" mat-button color="primary">Linkedin</a>
      <div class="flex-spacer"></div>
      <a mat-button color="accent" routerLink="/"><mat-icon>home</mat-icon>Go Home</a>
    </mat-card-actions>
  </mat-card>

</div>