.grid-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 85vh;
  padding: 20px;

  h1 {
    display: flex;
  }

  .card {
    display: flex;
    flex: 1;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    .bubble {
      position: relative;
      background: #f1f1f1;
      border-radius: 0.4em;
      top: -145px;
      padding: 0 30px;
      right: -30px;
      text-align: center;
    }

    .bubble:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-top-color: #f1f1f1;
      border-bottom: 0;
      border-left: 0;
      margin-left: -10px;
      margin-bottom: -20px;
    }

    //face and features elements
    // saves setting it up each time
    .body {
      width: 90px;
      height: 100px;

      &,
      &:before,
      &:after {
        position: absolute;
      }
      &:before,
      &:after {
        content: "";
      }
    }
    .face,
    .features {
      &,
      &:before,
      &:after {
        position: absolute;
      }
      &:before,
      &:after {
        content: "";
      }
    }

    // Specific styles

    $defaultBodyColor: #e6ac4c;

    //Slanted Body
    .bodySlant {
      background-color: $defaultBodyColor;
      border-radius: 4px;
      transform-origin: 50% 100%;
      transform: perspective(300px) rotateX(20deg);
      z-index: 100;
    }

    .earsBasic {
      // A basic style for Ears
      &:before,
      &:after {
        width: 0;
        height: 0;

        top: -25px;

        border-top: 28px solid transparent;
        border-bottom: 20px solid transparent;
      }

      &:before {
        border-left: 20px solid $defaultBodyColor;
        left: 0;
      }
      &:after {
        border-right: 20px solid $defaultBodyColor;
        right: 0;
      }
    }

    // Styling for the Cat
    // uses bodySlant and earsBasic as a base
    .cat {
      .face {
        // Eyes
        top: 22px;
        left: 20px;
        width: 6px;
        height: 6px;
        background-color: #000;

        border-radius: 50%;
        box-shadow: 44px 0 #000;
        animation: blink 2s infinite linear;

        // Mouth
        &:before,
        &:after {
          top: 14px;
          left: 6px;
          z-index: 5;
          width: 16px;
          height: 20px;
          border-radius: 50% / 40%;
          border-right: 2px solid #000;
          border-bottom: 2px solid #000;
          border-left: 2px solid transparent;
          border-top: 2px solid transparent;

          box-shadow: 0px 0px #000;
        }

        //Rotated to make other side of mouth
        &:after {
          left: 24px;
          transform: rotateY(180deg);
        }
      }
      .features {
        //Whiskers
        top: 44px;
        left: 11px;
        width: 20px;
        height: 1px;

        background-color: #000;
        box-shadow: 0 5px #000, 48px 0 #000, 48px 5px #000;

        //nose
        &:after {
          left: 30px;
          top: -6px;
          width: 6px;
          height: 6px;
          background-color: #000;

          border-radius: 50%;

          box-shadow: 2px 0 #000, 1px 1px #000;

          animation: yawn 2s infinite linear;
        }
        &:before {
          //Tail
          top: 10px;
          left: 74px;
          width: 40px;
          height: 40px;

          border-radius: 50%;
          border: 5px solid $defaultBodyColor;
          border-left: 0;
          border-top: 0;
        }
      }
    }

    .grass {
      background: green;
      width: 200px;
      height: 50px;
      position: absolute;
      margin-top: 55px;
      border-radius: 25px;
    }

    @keyframes blink {
      32% {
        height: 6px;
      }
      38% {
        height: 1px;
      }
      42% {
        height: 1px;
      }
      48% {
        height: 6px;
      }
    }
    @keyframes yawn {
      32% {
        box-shadow: 2px 0 #000, 1px 1px #000, 0px 16px transparent,
          2px 16px transparent, 1px 18px transparent;
      }
      35% {
        box-shadow: 2px 0 #000, 1px 1px #000, 0px 16px #650000, 2px 16px #650000,
          1px 18px transparent;
      }
      38% {
        box-shadow: 2px 0 #000, 1px 1px #000, 0px 16px #650000, 2px 16px #650000,
          1px 18px #650000;
      }
      42% {
        box-shadow: 2px 0 #000, 1px 1px #000, 0px 16px #650000, 2px 16px #650000,
          1px 18px #650000;
      }
      45% {
        box-shadow: 2px 0 #000, 1px 1px #000, 0px 16px #650000, 2px 16px #650000,
          1px 18px transparent;
      }
      48% {
        box-shadow: 2px 0 #000, 1px 1px #000, 0px 16px transparent,
          2px 16px transparent, 1px 18px transparent;
      }
    }
  }
}
