<div class="grid-container">
  <h1 class="mat-h1">Landing Page</h1>
  <mat-card class="card">
    <div class="bubble">
      <h4>Meow, Hiii!
        <br> You were successfully redirected to
        <br> The Landing Page, uohhh
        <br>Thanks, Meow!
        <br>
        <a mat-button routerLink="/" color="primary">
            <mat-icon>keyboard_backspace</mat-icon>
          Go back</a>
      </h4>

    </div>
    <div class="cat body bodySlant earsBasic">
      <div class="face"></div>
      <div class="features"></div>
    </div>
    <div class="grass"></div>
  </mat-card>
</div>