.grid-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 85vh;
  padding: 20px;

  h1{
      display: flex;
  }

  .card {
    display: flex;
    flex: 1;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }

  .response{
    position: absolute;
  }
}
